Bitwarden
btop
cable
chromium
Code*
discord*
Electron
equibop
go
copyq
Google
gtk-3.0
kde.org
libreoffice
lunarclient
shotwell
spicetify
systemd
variety
VSCodium
yay
dolphinrc
Bitwarden/**
btop/**
cable/**
chromium/**
Code*/**
discord*/**
Electron/**
equibop/**
go/**
Google/**
gtk-3.0/**
kde.org/**
libreoffice/**
lunarclient/**
shotwell/**
spicetify/**
systemd/**
variety/**
VSCodium/**
yay/**
